In [4]:
#function to print sql query given variables
def sql_query(variable1, variable2):
    return "SELECT {} FROM {}".format(variable1,variable2)

In [5]:
variable1= 'name'
variable2 = 'employees'
sql_query(variable1,variable2)

'SELECT name FROM employees'

In [7]:
data = ['1','2',['3','4',['5','6']]]

In [8]:
data[2][2]

['5', '6']

In [14]:
#flatten list
flat_list = []
for ele in data:
    for ele2 in ele:
        for ele3 in ele2:
            flat_list.append(ele3)

In [17]:
flat_list

['1', '2', '3', '4', '5', '6']

In [18]:
dict_test = {1: 100 , 2: 200, 5: 5000}

In [30]:
max(dict_test.values())

5000

In [38]:
#return the key of the highest value in a dictionaery
for item,value in dict_test.items():
    if value == max(dict_test.values()):
        print(item)

5

In [44]:
#loop that breaks when it hits a keyword
keyword = 'cat'

l = ['dog','bird','cat','elephant']

for val in l:
    if val == keyword:
        break
    print(val)

dog
bird