In [15]:
import pandas as pd
import numpy as np

In [18]:
data = {'First_Name':  ['Alison', 'Mike', "N/A"],
        'Last_Name': ['Salerno', 'Smith', "Jones"] }

df = pd.DataFrame (data, columns = ['First_Name','Last_Name'])

df.replace('N/A', np.NaN, inplace = True)

In [20]:
df['full_name'] = df['First_Name'] + " " + df['Last_Name']

In [46]:
df

  First_Name Last_Name       full_name       Full_Name
0     Alison   Salerno  Alison Salerno  Alison Salerno
1       Mike     Smith      Mike Smith      Mike Smith
2        NaN     Jones             NaN           Jones

In [45]:
df['Full_Name'] = df.apply(lambda x: x['Last_Name'] if pd.isnull(x['First_Name']) else x['First_Name'] +" "+ x['Last_Name'], axis=1)